---
import Layout from "../layouts/Layout.astro";
import ButtonLink from "../components/ButtonLink.astro";
import DynamicBox from "../components/DynamicBox.astro";
import Heading from "../components/Heading.astro";
import List from "../components/List.astro";
import QuickFacts from "../components/QuickFacts.astro";
import Share from "../components/Share.astro";
import Wrapper from "../components/Wrapper.astro";
import { title } from "../constants";
---

<Layout>
  <Wrapper>
    <div
      class="{display:grid} @media(min-width:48rem){grid-template-columns:repeat(2,1fr)} {gap:2rem}"
    >
      <!-- class="{display:flex} {flex-direction:column} {justify-content:center} {padding:2rem} {gap:inherit}" -->
      <DynamicBox
        class="{display:flex} {flex-direction:column} {justify-content:center} {padding:2rem} {gap:inherit}"
      >
        <Heading is="h1" size="medium">
          {title}
        </Heading>

        <QuickFacts />

        <p>There's motivation and details you should know about:</p>

        <div>
          <ButtonLink href="/about">Read all about it</ButtonLink>
        </div>
      </DynamicBox>

      <div class="{display:flex} {align-items:center}">
        <!-- class="{display:flex} {flex-direction:column} {justify-content:center} {padding:2rem} {gap:2rem}" -->
        <DynamicBox
          is="section"
          class="{display:flex} {flex-direction:column} {justify-content:center} {padding:2rem} {gap:2rem}"
        >
          <Heading is="h2" size="small"
            >From idea to however far you get</Heading
          >

          <p>
            Join other developers in an hour-fifty-minute coding challenge for
            the fun of it.
          </p>

          <List
            items={[
              "Any individual or group can join.",
              "All participants will get some good TBD something or other.",
            ]}
          />

          <div class="{position:relative} {width:40%}">
            <img src="/cat-typing.jpg" alt="A black and white cat typing on a laptop. Animates on hover">

            <img src="/cat-typing.gif" class="{display:none} {position:absolute} {inset:0} [img:hover_+_&]{display:block}" alt="" aria-hidden="true">
          </div>
        </DynamicBox>
      </div>
    </div>

    <section
      class="{display:flex} {flex-direction:column} {gap:1rem} {text-align:center} {margin-top:3rem}"
    >
      <Heading is="h2" size="small">Spread the word</Heading>

      <Share
        text={`${title} is a hour-fifty-minute AI-free remote hackathon anyone can join on January 16!`}
      />
    </section>
  </Wrapper>
</Layout>
