---
import ColorSchemeSelector from "../components/ColorSchemeSelector.astro";
import DynamicBox from "../components/DynamicBox.astro";

const links = [
  {
    href: "/",
    text: "Home"
  },
  {
    href: "/about",
    text: "About",
  },
]
---

<DynamicBox
  class="{display:flex} {align-items:center} @media(min-width:48rem){flex-direction:column} {gap:0.5rem} {--DynamicBox-color-background:color-mix(in_srgb,var(--color-background)_83%,transparent)} {border:1px_solid_currentColor} {padding:0.85rem}  {backdrop-filter:blur(1px)}"
  cornerSize="small"
  is="header"
>
  <nav class="{align-items:inherit} {display:inherit} {flex-direction:inherit} {gap:inherit} {gap:inherit} {padding-bottom:1px} @media(min-width:48rem){padding-bottom:0}">
    <!-- For UnoCSS
      class="::before{height:0px} ::before{width:0px} ::before{border-left:0.4375rem_solid_var(--color-accent)} ::before{border-top:0.3125rem_solid_transparent} ::before{border-bottom:0.3125rem_solid_transparent} ::before{display:inline-block} ::before{padding-right:0.4375rem} ::before@media(min-width:48rem){margin-left:-0.875rem}"
    -->
    {links.map(({ href, text }) => (
      <a
        class="::before{height:0px} ::before{width:0px} ::before{border-left:0.4375rem_solid_var(--color-accent)} ::before{border-top:0.3125rem_solid_transparent} ::before{border-bottom:0.3125rem_solid_transparent} ::before{display:inline-block} ::before{padding-right:0.4375rem} ::before@media(min-width:48rem){margin-left:-0.875rem}"
        data-link-transform-middleware-active-class="::before{content:}"
        data-link-transform-middleware-aria-current-value
        href={href}
      >{text}</a>
    ))}
  </nav>

  <ColorSchemeSelector />
</DynamicBox>
