---
import ColorSchemeSelector from "../components/ColorSchemeSelector.astro";
---

<header
  class="{display:flex} {align-items:center} @media(min-width:48rem){align-items:start} @media(min-width:48rem){flex-direction:column} {gap:0.5rem} {background-color:color-mix(in_srgb,var(--color-background)_75%,transparent)} {border:1px_solid_currentColor} {padding:0.5rem}  {backdrop-filter:blur(1px)}"
>
  <nav class="{display:flex} {gap:inherit}">
    <a href="/">Home</a>
    <a href="/about">About</a>
  </nav>

  <ColorSchemeSelector />
</header>
