---
import { ids } from "../constants";
import Button from "../components/Button.astro";
---

<a
  class="unfocused-sr-only {background:var(--color-background)} {outline-offset:0.5rem} {left:1.5rem} {top:1.5rem} {z-index:999} :focus-visible{color:var(--color-light)} :focus-visible{position:fixed}"
href={`#${ids.content}`}
  ><Button>Skip to Content</Button></a
>
