<div
  class="{display:grid} {min-height:100dvh} {padding:clamp(1.25rem,0.4674rem_+_3.913vw,3.5rem)} {justify-content:center} {align-items:center}"
>
  <div class="{width:90vw} {max-width:57rem}">
    <slot></slot>
  </div>
</div>